<%- include('partials/header') %>
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">Erros
            <% if (erros.length > 1) { %> encontrados <% } %>
        </h1>
        <ul>
            <% for (const erro of erros) { %>
                <li class="apresentacao__links__subtitulo">Código: <%= erro.codigo %>, Descrição: <%= erro.descricao %>
                </li>
            <% } %>
        </ul>
    </section>
    <img class="apresentacao__imagem" src="https://avatars.githubusercontent.com/u/69434680"
        alt="Foto de Matheus M Diegues programador">
</main>
<%- include('partials/footer') %>