<%- include('partials/header') %>
<main class="apresentacao">
    <section class="apresentacao__conteudo">
        <h1 class="apresentacao__conteudo__titulo">Transforme suas ideias em realidade! <strong class="titulo-destaque">Com habilidade e inovação</strong></h1>
        <div class="apresentacao__links">
            <h2 class="apresentacao__links__subtitulo">Acesse minhas redes</h2>
            <a class="apresentacao__links__navegacao" href="https://github.com/dieguesmosken">
                <i class="apresentacao__icone fa-brands fa-github"></i>
                Github
            </a>
            <a class="apresentacao__links__navegacao" href="https://linkedin.com/in/dieguesmosken">
                <i class="apresentacao__icone fa-brands fa-linkedin-in"></i>
                linkedin
            </a>
           
        </div>
    </section>
    <img class="apresentacao__imagem" src="https://avatars.githubusercontent.com/u/69434680" alt="Foto de Matheus M Diegues programador">
</main>
<%- include('partials/footer') %>